.card{
    border-radius: 40px 40px 0px 0px;
}

.cardTitle{
    color: #324473;
    font-weight: 900;
    font-size: 16px;
}

.cardText{
    color: #324473;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}