.formControlCustom,
.formControlCustom:focus{
    border: none;
    background-color: #CEDCFF;
}

.formControlCustom{
    padding: 8px 20px;
}

.formControlCustom:focus{
    box-shadow: none;
}

.formControlCustom::placeholder{
    font-size: 12px;
    color: #000;
}

.btnSend{
    background-color: transparent;
    border: 2px solid  var(--secondary-color);
}

.btnSend:hover{
    background-color:  var(--secondary-color);
    border: 2px solid  var(--secondary-color);
}

.btnSend:active{
    border: 2px solid  var(--secondary-color) !important;
}


.customLink{
    cursor: pointer;
    font-size: small;
    text-decoration: none;
}

.iconColor{
    color:  var(--secondary-color);
}